[Unit]
Description=Create empty PHYP-NVRAM file
Wants=obmc-vpnor-updatesymlinks.service
After=obmc-vpnor-updatesymlinks.service
Wants=obmc-flash-bios-init.service
After=obmc-flash-bios-init.service
ConditionPathExists=!/var/lib/phosphor-software-manager/hostfw/nvram/PHYP-NVRAM

[Service]
ExecStart=/bin/sh -c "if [ -f /var/lib/pldm/PHYP-NVRAM ]; then mv /var/lib/pldm/PHYP-NVRAM /var/lib/phosphor-software-manager/hostfw/nvram/PHYP-NVRAM; else truncate -s $((1024 * 145408)) /var/lib/phosphor-software-manager/hostfw/nvram/PHYP-NVRAM; fi"
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=pldmd.service
